@charset "utf-8";

#iconWall {
    width: 732px;
    background-color: #f0f0f0;
    
    margin: 0 auto;
    overflow: hidden;
    padding-top: 1px;
    padding-left: 1px;
}

#iconWall li {
    width: 121px;
    height: 108px;
    background-color: #fff;
    float: left;
    margin: 0 1px 1px 0;
    list-style: none;
    position: relative;
}
.img-back, .img-front{
    position: absolute;
    left: 0;
    top: 0;
    width: 121px;
    height: 108px;
    text-align: center;
    line-height: 108px;
}
li img {
    vertical-align: middle;
}
.img-3d {
    transform-style: preserve-3d;

}
.img-back {
    transform: rotateY(180deg);
}
li:hover .img-3d {
    transition: .3s linear;
    transform: rotateY(180deg);
}
.iconRefresh {
    width: 28px;
    height: 28px;
    background: url("../img/refresh.png");
    margin: 32px auto 0;

}
#btnRefresh {
    text-align: center;
    transition: .3s linear;
}
#btnRefresh:hover {
    color: #fff;
    background-color: rgb(250, 9, 9);
    transition: 0s;
}
#btnRefresh:hover .iconRefresh {
    background: url("../img/refresh-white.png");
}